@import '../../../styles/globals.scss';

.password-condition{
 display: flex;
 flex-direction: column;
 gap: 20px;
 padding: 20px;
 margin-bottom: 20px;
 border-radius: 2px;
 border: 1px solid $dark2;
 color: $light2;
 transition: transform 0.3s ease;
 // background-color: $background2;


 .password-condition__item{
 display: flex;
 align-items: center;
 gap: 10px;
 color: $primary;

 span{
 padding-top: 4px;
 }
 }
}