@import '../../styles/globals.scss';

.input-date {
 display: flex;
 position: relative;
 flex-direction: column;
 margin-bottom: 20px;
 

 .input-date__dropdown {
  color: $light2;
  padding: 20px;
  padding-right: 40px;
  border-radius: 2px;
  border: 1px solid $primary;
  background-color: $background;
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
  height: 18px;
  font-family: sans-serif;

  &:focus {
   outline: none;
   border: 1px solid $light2;
  }
 }

 .date-input__label {
  position: absolute;
  padding: 0px 6px;
  background: $background;
  color: $light2;
  font-size: 1rem;
  top: 20px;
  left: 10px;
  min-width: 100px;
 }

 .date-input__label--up {
  display: inline-block;
  color: $light2;
  transform: translate(0px, -26px);
  font-size: 0.75rem;
  font-weight: 500;
  min-width: auto;
  transition: all 0.2s ease-in-out;
 }

 .date-input__error-message {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 4px 0px;
  font-size: 0.75rem;
  color: $red;

  span {
   display: flex;
   align-items: center;

   svg {
    height: 20px;
    width: 20px;
   }
  }
 }
}

.date-input__icon {
 display: flex;
 justify-content: flex-end;
 align-items: flex-end;
 position: absolute;
 padding: 6px 8px;
 background: none;
 border: none;
 top: 11px;
 right: 10px;

 svg {
  color: $primary;
 }
}
